/* # Reset & Basics
================================================== */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #Basic Styles
================================================== */
body {
  background: #fff;
  font: 14px/1.6 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-weight: bold; }

h1 {
  font-size: 60px;
  line-height: 1.1; }

h2 {
  font-size: 48px;
  line-height: 1.2; }

h3 {
  font-size: 36px;
  line-height: 1.3; }

h4 {
  font-size: 24px;
  line-height: 1.4; }

h5 {
  font-size: 21px;
  line-height: 1.5; }

h6 {
  font-size: 18px;
  line-height: 1.6; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

/* #Links
================================================== */
a {
  color: #333;
  text-decoration: underline;
  outline: 0; }

a:hover, a:focus {
  color: #000; }

/* # Magic
================================================== */
/* # A dump for all other crap. Move before commit.
================================================== */
@font-face {
  font-family: 'cassannet_regularregular';
  src: url("../fonts/cassannet-webfont-webfont.eot");
  src: url("../fonts/cassannet-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cassannet-webfont-webfont.woff") format("woff"), url("../fonts/cassannet-webfont-webfont.ttf") format("truetype"), url("../fonts/cassannet-webfont-webfont.svg#cassannet_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* # SASS Mixins
================================================== */
/* # Sensibilities
================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.wrap {
  max-width: 1280px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #141845; }

/* # Primary Styles
================================================== */
.global-header {
  background: white;
  padding: 65px 0 100px 0; }
  .global-header h1 {
    text-indent: -9999999px;
    height: 166px;
    width: 207px;
    margin: 0 auto;
    background-image: url("../img/logo_trimmed.png"); }
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      .global-header h1 {
        background-image: url("../img/logo_trimmed@2x.png");
        -webkit-background-size: 207px 166px; } }

html {
  border-top: 5px solid #cabc8b; }

.main {
  text-align: center; }

.post {
  margin: 0 0 65px 0; }
  .post h2 {
    display: inline-block;
    font-family: 'cassannet_regularregular';
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 3px solid #cabc8b;
    font-size: 18px;
    font-size: 1.8rem; }
  .post .date {
    display: block;
    font-family: 'cassannet_regularregular';
    color: #cabc8b;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 15px 0;
    font-size: 7px;
    font-size: 0.7rem; }
  .post .words {
    width: 60%;
    margin: 0 auto;
    color: #100f0e;
    font-family: "ff-basic-gothic-web-pro";
    font-weight: 400;
    font-size: 10px;
    font-size: 1rem; }

/* # Single article styles
================================================== */
