.post {
	margin: 0 0 65px 0;

	h2 {
		display: inline-block;
		font-family: 'cassannet_regularregular';
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 0 0 10px 0;
		margin: 0 0 10px 0;
		border-bottom: 3px solid $dark-highlight;
		@include font-size(1.8);
	}

	.meta {
		display: block;
		margin: 0 0 25px 0;

		.date, .author {
			font-family: 'cassannet_regularregular';
			text-transform: uppercase;
			letter-spacing: 5px;
			margin: 0 0 15px 0;
			@include font-size(.7);
		}

		.date {
			color: $dark-highlight;
		}

	}

	.words {
		text-align: left;
		width: 60%;
		margin: 0 auto;
		color: lighten($fake-black, 30%);
		font-family: "ff-basic-gothic-web-pro";
		font-weight: 400;
		@include font-size(1.1);

		h2 {
			margin: 10px 0;
			@include font-size(1.2);
			border-bottom: none;
		}

		a {
			border-bottom: 1px solid $dark-highlight;
		}

	}

}
