@font-face {
    font-family: 'cassannet_regularregular';
    src: url('../fonts/cassannet-webfont-webfont.eot');
    src: url('../fonts/cassannet-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cassannet-webfont-webfont.woff') format('woff'),
         url('../fonts/cassannet-webfont-webfont.ttf') format('truetype'),
         url('../fonts/cassannet-webfont-webfont.svg#cassannet_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
